# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/Examples/CC3200-I2CSample/Debug
/Examples/CC3200-I2CSample/Release
/Examples/CC3200-I2CSample/.launches
/Examples/CC3200-I2CSample/.settings
